/.github @kvaps @lllamnyp @Kirill-Garbar @BROngineer
/api @kvaps @lllamnyp @Kirill-Garbar @BROngineer
/charts @kvaps @lllamnyp @Kirill-Garbar @BROngineer
/cmd @kvaps @lllamnyp @Kirill-Garbar @BROngineer
/config @kvaps @lllamnyp @Kirill-Garbar @BROngineer
/hack @kvaps @lllamnyp @Kirill-Garbar @BROngineer
/internal @kvaps @lllamnyp @Kirill-Garbar @BROngineer
/pkg @kvaps @lllamnyp @Kirill-Garbar @BROngineer
/test @kvaps @lllamnyp @Kirill-Garbar @BROngineer
/site @kvaps @lllamnyp @Kirill-Garbar @BROngineer
/*.md @kvaps @lllamnyp @Kirill-Garbar @BROngineer
